# Numpy

In [1]:
import pandas as pd  #Import Numpy module and use short notation "np" to address structures and methods inside it
get_ipython().magic('pinfo pd.Series')

### Creation

In [2]:
animals = ['Tiger','Bear','Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
          'Sumo':'Japan',
          'Taekwondo':'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger','Bear','Moose'])
s

0    Tiger
1     Bear
2    Moose
dtype: object

In [12]:
sports = {'Archery':'Bhutan',
          'Golf':'Scotland',
          'Sumo':'Japan',
          'Taekwondo':'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [13]:
s.iloc[3]

'South Korea'

In [14]:
s.loc['Golf']

'Scotland'

In [15]:
s['Golf']

'Scotland'

In [16]:
sports = {99:'Bhutan',
          100:'Scotland',
          101:'Japan',
          102:'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [17]:
s[0]

KeyError: 0

In [18]:
s = pd.Series([100,120,101,3])
s

0    100
1    120
2    101
3      3
dtype: int64

In [19]:
total = 0
for item in s:
    total += item
print(total)

324

In [20]:
total = np.sum(s)
print(total)

324

In [21]:
#This creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,1000))
s.head()

0    879
1    333
2    317
3    334
4     39
dtype: int32

In [22]:
len(s)

1000

In [25]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

0    881
1    335
2    319
3    336
4     41
dtype: int32

In [27]:
s = pd.Series([1,2,3])
s.loc['Animal']='Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [28]:
original_sport = pd.Series({'Archery':'Bhutan',
                            'Golf':'Scotland',
                            'Sumo':'Japan',
                            'Taekwondo':'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'],
                                     index=['Cricket',
                                            'Cricket',
                                            'Cricket',
                                            'Cricket'])

In [30]:
all_countries = original_sport.append(cricket_loving_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [31]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [32]:
original_sport

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [33]:
all_countries['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [34]:
# DataFrames
purchase1 = pd.Series({'Name':'Chris','Item':'Dog Food','Cost':22.50})
purchase2 = pd.Series({'Name':'Kevyn','Item':'Kity Litter','Cost':2.50})
purchase3 = pd.Series({'Name':'Vinod','Item':'Bird Seed','Cost':5.00})

df = pd.DataFrame([purchase1,purchase2,purchase3],
                  index=['Store1','Store2','Store3'])
df

        Cost         Item   Name
Store1  22.5     Dog Food  Chris
Store2   2.5  Kity Litter  Kevyn
Store3   5.0    Bird Seed  Vinod

In [35]:
df.loc['Store2']

Cost            2.5
Item    Kity Litter
Name          Kevyn
Name: Store2, dtype: object

In [36]:
type(df.loc['Store2'])

pandas.core.series.Series

In [37]:
df.loc['Store1','Cost']

22.5

In [38]:
df.T

        Store1       Store2     Store3
Cost      22.5          2.5          5
Item  Dog Food  Kity Litter  Bird Seed
Name     Chris        Kevyn      Vinod

In [39]:
df.T.loc['Cost']

Store1    22.5
Store2     2.5
Store3       5
Name: Cost, dtype: object

In [40]:
df['Cost']

Store1    22.5
Store2     2.5
Store3     5.0
Name: Cost, dtype: float64

In [42]:
df.loc['Store1']['Cost']

22.5

In [43]:
df.loc[:,['Name','Cost']]

         Name  Cost
Store1  Chris  22.5
Store2  Kevyn   2.5
Store3  Vinod   5.0

In [44]:
df.drop('Store1')

        Cost         Item   Name
Store2   2.5  Kity Litter  Kevyn
Store3   5.0    Bird Seed  Vinod

In [45]:
df

        Cost         Item   Name
Store1  22.5     Dog Food  Chris
Store2   2.5  Kity Litter  Kevyn
Store3   5.0    Bird Seed  Vinod

In [46]:
copy_df = df.copy()
copy_df = copy_df.drop('Store1')
copy_df

        Cost         Item   Name
Store2   2.5  Kity Litter  Kevyn
Store3   5.0    Bird Seed  Vinod

In [48]:
del copy_df['Name']
copy_df

        Cost         Item
Store2   2.5  Kity Litter
Store3   5.0    Bird Seed

In [49]:
df['Location'] = None
df

        Cost         Item   Name Location
Store1  22.5     Dog Food  Chris     None
Store2   2.5  Kity Litter  Kevyn     None
Store3   5.0    Bird Seed  Vinod     None

In [52]:
costs = df['Cost']
costs

Store1    22.5
Store2     2.5
Store3     5.0
Name: Cost, dtype: float64

In [53]:
costs+=2
costs

Store1    24.5
Store2     4.5
Store3     7.0
Name: Cost, dtype: float64