# Practical Data Science

## Midterm

### 1. Empty elements

In [5]:
type([]),type({}),type([]),type(())

(list, dict, list, tuple)

In [6]:
l = [1,2,3]
t = 0
for i in l:
    t += i
print(t)

6

In [10]:
print([x for x in range(1,10,3) if x%2==0])

[4]

In [27]:
f = open('data.txt','r')
next(f)
for line in f:
    line = line.strip()
    l = line.split()
    print(l[1])
f.close()

job
done

In [16]:
s = 'AbCDe'
print(s[1:-1].lower())

bcd

In [17]:
l = [1,2,3]
while l:
    print(l.pop(0))

1
2
3

In [19]:
print('ab' + str(23) + str(0.1))

ab230.1

In [20]:
str('343.12')

'343.12'

In [21]:
int(343.12)

343

In [23]:
int(float('343.12'))

343

In [24]:
float(int('343.12'))

ValueError: invalid literal for int() with base 10: '343.12'

In [25]:
f.close()

In [28]:
f = open('data.txt','r')
for line in f:
    l = line.strip().split()
    try:
        print(l[2])
    except:
        continue
f.close()

!

In [29]:
d1 = {'a':1,'b':3,'c':2}
d2 = {'a':2,'c':2}
for k,v in d1.items():
    d1[k] = d2.get(k,0) + 1
print(d1)

{'b': 1, 'a': 3, 'c': 3}

# Final Exam

In [31]:
import re
s = 'Abca deaf abck'
re.findall('.[a-f] ',s)

['ca ', 'af ']

In [37]:
import numpy as np
a = np.array([1,0,1,0,1,0])
x = a[1:-2]
b = a.reshape(2,3)
y = b[1]
print(x.dot(y))

1

In [42]:
import pandas as pd
df = pd.DataFrame([[np.nan,1],[np.nan,np.nan],[1,np.nan],[np.nan,2]],columns=['a','b'])
df

     a    b
0  NaN  1.0
1  NaN  NaN
2  1.0  NaN
3  NaN  2.0

In [45]:
df.dropna()

Empty DataFrame
Columns: [a, b]
Index: []

In [46]:
df.fillna(0)

     a    b
0  0.0  1.0
1  0.0  0.0
2  1.0  0.0
3  0.0  2.0

In [47]:
df['a']

0    NaN
1    NaN
2    1.0
3    NaN
Name: a, dtype: float64

In [48]:
df.apply(lambda x: x.sum())

a    1.0
b    3.0
dtype: float64