# This is a Markdown Cell

In [91]:
#This is a Code Cell. Hit "shift"+"enter" to execute the code

This is a Text Cell

# Hello World

In [92]:
print("Hello World!") #"Hello World!" in Python; Comments start with "#"

Hello World!

# Assignment

In [3]:
x = 3
print(x) #Output the result stored in x

3

In [5]:
x = x + 1 #Assignment with increment
print(x)

5

In [6]:
x += 1 #The same as above
print(x)

6

In [7]:
x -= 1 #Assignment with a decrement
print(x)

5

In [8]:
x = x*2 #Assignment with multiplication
print(x)

10

In [9]:
x *= 2 #The same as above
print(x)

20

In [11]:
x /= 2 #Assignment with a division. Note in Python 3 the result of a division is always a floating point number
print(x)

5.0

In [38]:
and = 5 #Do not use reserved words for the names of variables
and

SyntaxError: invalid syntax (<ipython-input-38-59f06aa11830>, line 1)

# Data types

In [15]:
x = 'ABC' #x stores a string
print(x)

ABC

In [16]:
y = "ABC"

x == y #"ABC" and 'ABC' are the same. Double or single quotes enclose a string

True

In [13]:
x = True #x stores a boolean
print(x)

True

# Data conversion

In [25]:
x = 5
z = 10
z
x #No need to print(x) in Jupiter. Note: Only the last expression will be shown

5

In [26]:
y = str(x)
y #String is output in quotes

'5'

In [30]:
z = int(y)
z

5

# Errors and exceptions

In [35]:
y="abc"
z=int(y) #Errors may occur during type conversion
z

ValueError: invalid literal for int() with base 10: 'abc'

In [36]:
y="abc"
try:         #Use try/except block to avoid them
    z=int(y)
except:
    pass
z

5

# Numeric Operations

In [39]:
5+2

7

In [40]:
5-2

3

In [41]:
5*2

10

In [43]:
5/2 #Even you used integers after division you will always get a float in Python3

2.5

In [45]:
5//2 #Integer division

2

In [47]:
5%2 #Remainder of division

1

In [48]:
5**2 #five squared

25

# Strings

In [171]:
s = 'Abc' #Strings are in quotes
s

'Abc'

In [172]:
s = '' #Empty string
s

''

In [110]:
s = '  Abc  '
s.lower() #make all letters lowercase

'  abc  '

In [111]:
s.upper() #makes all leters capital

'  ABC  '

In [112]:
s.rstrip() #strip all trailling spaces

'  Abc'

In [114]:
s.lstrip() #strip all preceding spaces

'Abc  '

In [116]:
s.strip() #strip all spaces at the beginning and end of a string

'Abc'

In [122]:
s = 'abc \n' #"\n" is a new line character
print(s)

abc

In [124]:
print(s.strip()) #strip removes also new line characters

abc

In [125]:
'abc.'.strip('.') #how to remove trailling dot

'abc'

In [127]:
#Indexing strings
s = 'Abc'
len(s) #Gives the length of the string - string has 3 characters

3

In [128]:
s[0] #Indexing starts with 0

'A'

In [129]:
s[1]

'b'

In [130]:
s[2]

'c'

In [132]:
s[3] #Error if index outside the range

IndexError: string index out of range

In [134]:
s[-1] #Indexing from the end

'c'

In [135]:
s[-3]

'A'

In [138]:
s[0:2] #List all characters starting at first index, but not including the second index

'Ab'

In [139]:
s[:2] #Index of zero may be omitted

'Ab'

In [140]:
s[1:3]

'bc'

In [142]:
s[1:] #Final index may be omitted

'bc'

In [143]:
s[:] #Equivalent to s

'Abc'

In [147]:
s[0:3:2] #Set step to be 2 - output only 0th and 2nd characters

'Ac'

In [148]:
s[::2] #Equivalent to the previous

'Ac'

In [151]:
s="jdoe@gmail.com"
s.startswith("jdoe") #Check if a string starts with a pattern

True

In [154]:
s.find("@gmail") #Gives the index of the first character of the pattern found in the string

4

In [163]:
s.split("@") #Split string into a list of substrings based on a delimiter

['jdoe', 'gmail.com']

In [164]:
s1 = 'ABC'
s2 = 'abc'
s1+s2 #Join strings

'ABCabc'

In [165]:
s1*3 #Repeat string 3 times

'ABCABCABC'

# Lists

In [169]:
l = ["aa","bb","c"] #List which contains 3 strings
l

['aa', 'bb', 'c']

In [170]:
l = [] #Empty array
l

[]

In [176]:
l = [0,1,2,3] #List of numbers
l

[0, 1, 2, 3]

In [180]:
l = list(range(4)) #range(n) gives n integer from 0 to n-1
l

[0, 1, 2, 3]

In [182]:
list(range(3,9,2)) #range(xmin,xmax,dx) gives integers from xmin to xmax with step dx

[3, 5, 7]

In [183]:
l = ["aa","bb","c"] #list of 3 strings
list(range(len(l))) #Usefull to get all indices for each element in a list

[0, 1, 2]

In [187]:
l = [1,2,3]
l.append(4) #Append an element to a list
l

[1, 2, 3, 4]

In [194]:
l1 = [1,2,3]
l2 = [4,5]
l = l1+l2 #Join lists
l

[1, 2, 3, 4, 5]

In [195]:
l.pop() #Remove and return last element from a list, similar to stack

5

In [196]:
l

[1, 2, 3, 4]

In [197]:
l.pop(0) #Remove and retunr first element from a list, similar to queue

1

In [198]:
l

[2, 3, 4]

In [200]:
l.index(3) #Return an index of searched and found element

1

In [203]:
l

[4, 3, 2]

In [205]:
l.reverse() #Reverse an order of elements in a list
l

[4, 3, 2]

In [206]:
l.sort() #Sort in ascending order
l

[2, 3, 4]

In [211]:
l.sort(reverse=True) #Sort in descending order
l

[4, 3, 2]

In [212]:
l.insert(1,6) #Insert "6" at the 1st position
l

[4, 6, 3, 2]

In [213]:
l.remove(6) #Remove found element
l

[4, 3, 2]

In [216]:
l*2 #Repeats list 2 times

[4, 3, 2, 4, 3, 2]

# Tuples

In [220]:
t = () #Empty tuple
t

()

In [222]:
t = (1,2) #Tuple of two elements
t

(1, 2)

In [224]:
x = 3
y = 4
x,y #This forms a tuple

(3, 4)

In [226]:
x,y = 5,6 #Tuples are useful in assignements
x,y

(5, 6)

In [227]:
x,y = y,x #Swap two elements
x,y

(6, 5)

In [233]:
t = (1,2,3,1)
t.count(1) #Gives the count of a given element in a tuple

2

In [235]:
t.index(2) #Gives the index of a given element

1

In [237]:
(1,2,3)>(1,2,4) #Tuples can be compared

False

In [238]:
l1 = [(5,2),(3,4),(1,1)]
l1.sort() #Lists of tuples can be sorted
l1

[(1, 1), (3, 4), (5, 2)]

# Dictionaries

In [242]:
d = {} #Empty dictionary
d

{}

In [245]:
zoo = {'cat':1,'dog':3,'snake':2} #key:value pairs are stored in a dictionary
zoo

{'cat': 1, 'dog': 3, 'snake': 2}

In [247]:
zoo['cat'] #Access the value for a given key in a dictionary

1

In [253]:
zoo.keys() #View all keys

dict_keys(['cat', 'snake', 'dog'])

In [256]:
zoo.values() #View all values

dict_values([1, 2, 3])

In [259]:
zoo['turtle']=5 #Append another key:value pair to a dictionary
zoo

{'cat': 1, 'dog': 3, 'snake': 2, 'turtle': 5}

In [261]:
zoo['shark'] #Error when accessing key which is not in a dictionary

KeyError: 'shark'

In [263]:
zoo.get('shark',0) #To avoid this problem the following construct is used

0

In [265]:
zoo.get('turtle',0) #Works for keys in a dictionary too

5

In [266]:
zoo['turtle']=zoo.get('turtle',0)+1 #To increment a value for a key
zoo

{'cat': 1, 'dog': 3, 'snake': 2, 'turtle': 6}

In [268]:
zoo['shark']=zoo.get('shark',0)+1 #Works perfectly even if key is not initially in a dictionary
zoo

{'cat': 1, 'dog': 3, 'shark': 2, 'snake': 2, 'turtle': 6}

# Loops

In [269]:
l = ['aa','bb','c']
for s in l:
    print(s)

aa
bb
c

In [281]:
for i,s in iteritems(l):
    print(i,s)

NameError: name 'iteritems' is not defined

In [275]:
zoo = {'cat':1,'dog':3,'snake':2}
for key,value in zoo.items(): #zoo.items() return a list of tuples
    print(key,value)

cat 1
snake 2
dog 3

In [280]:
t = ('t1','t2','t3')
for ind,val in iteritems(t):
    print(val)

NameError: name 'iteritems' is not defined

In [282]:
l = ['aa','bb','c']
while l: #Runs while l is true, so not empty
    print(l.pop())

c
bb
aa

# List comprehensions

In [286]:
l = list(range(3)) #Create array using a range
l

[0, 1, 2]

In [285]:
l = []
for i in range(3): #Create array using a for loop
    l.append(i)
l

[0, 1, 2]

In [219]:
[i for i in range(3)] #Equivalent to list(range(3))

[0, 1, 2]

In [287]:
[i**2 for i in range(3)] #List of squares

[0, 1, 4]

In [291]:
{i:i**2 for i in range(3)} #Dictionary comprehension

{0: 0, 1: 1, 2: 4}

In [292]:
l = ['aa','bb','c'] #Dictionary with all elements from a list and their lengths
{i:len(i) for i in l}

{'aa': 2, 'bb': 2, 'c': 1}

# Boolean and logic

In [75]:
bool(False),bool(None),bool(''), bool(0),bool(0.0),bool([]),bool({}),bool(()),bool(set())
#The truth value is False for False, None, empty string, 0, 0.0,
#empty list, empty dictionary, empty tuple, empty set

(False, False, False, False, False, False, False, False, False)

In [77]:
x = 1 #True
y = 0 #False
x or y

1

In [78]:
x and y

0

In [79]:
not x

False

In [80]:
5>2

True

In [81]:
5<2

False

In [82]:
5>=2

True

In [83]:
5<=2

False

In [85]:
'abc' == "abc" #Comparison

True

In [86]:
[1,2,3] != [1,2,3]

False

In [88]:
if None:        #Equivalent to bool(None)
    print(True) #Adjacent commands with the same indentation belong to the same block
    print("Variable exists")
else:
    print(False)
    print("Variable does not exist")

False
Variable does not exist

In [95]:
x = 1
if x==0:
    print("x is equal to zero")
elif x<0:
    print("x is less than zero")
else:
    print("x is greater than zero")

x is greater than zero

In [1]:
x = 10 #This is code
print(x)

10

# Write simple text

Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.

# Insert an image

<img src="sqlite.png">

# Write Latex/Math equations

$$c = \sqrt{a^2+b^2}$$